#video {

    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}



body {
    background-color: rgb(241, 241, 138);
    width: 90%;
    height: 190%;

    padding-left: 5%;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}



img {
    opacity: 50%;
}

header {

    flex-wrap: wrap;
    align-items: center;
    width: 30%;
    height: 20%;
    background-color: beige;

    margin: 5% 5%;

    padding: 5% 10%;
}

img {
    height: 250px;
    width: 250px;

}

h1 {
    text-align: center;
    font-size: 3rem;
    color: black;
    font-family: 'Luckiest Guy',
        cursive;
}

h2 {
    text-align: center;
    font-size: 2.5rem;
    font-family: 'Luckiest Guy',
        cursive;
}

h3 {
    font-size: 2rem;
    text-align: center;
    font-family: 'Quattrocento',
        serif;
}


p,
li {
    font-size: 1rem;
    text-align: left;
    font-family: "Courier New";
}


main {

    background-color: beige;

    padding: 5% 5%;

}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-self: center;
    background-color: crimson;
}

#ralph {
    height: 100px;
}

#about {
    background-color: #f8b195;
    width: 60%;
    height: fit-content;



}

#edu {
    background-color: #f67280;
    width: 50%;



}

#workgif {

    width: 50%;
}

#git {
    background-color: #c06c84;
    width: 50%;
    height: 100px;


}

#linkedin {
    background-color: #6c5b7b;
    width: 50%;
    height: 100px;


}

#contact {
    background-color: #355c7d;
    width: 100%;
    height: 100px;
    text-align: center;


}

a:hover {
    font-size: 3rem;
    color: blue;
}