#video {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}



body {
    background-color: white;
    width: 90%;
    height: 90%;
    opacity: 80%;
}

#container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

img {
    opacity: 50%;
}

header {


    align-items: center;
    width: 30%;
    height: 20%;
    background-color: beige;
    opacity: 0.8;
    margin: 5% 10%;

    padding: 10px 10px;
}

img {
    height: 250px;
    width: 250px;

}

h1 {
    text-align: center;
    font-size: 50px;
    color: black;
    font-family: "calibri";
}

h2 {
    text-align: center;
    font-size: 35px;
    font-family: "calibri";
}

p {
    font-size: 2rem;
    align-self: center;
    font-family: "Calibri";
}


main {

    background-color: beige;
    opacity: 0.8;

}

.flexbox {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-self: center;
    background-color: crimson;
}

#about {
    background-color: green;
    width: 100px;
    height: 100px;


}

#edu {
    background-color: cyan;
    width: 100px;
    height: 100px;


}

#git {
    background-color: orange;
    width: 100px;
    height: 100px;


}

#linkedin {
    background-color: fuchsia;
    width: 100px;
    height: 100px;


}

#contact {
    background-color: grey;
    width: 100px;
    height: 100px;


}